@media (max-width: 960px) {
	.container {
		max-width: 900px;
	}
	.row.row-cols-2 {
		flex-direction: column;
	}
	.userNav {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		border-bottom: solid 1px #e5e5e5;
	}
	.userNav li {
		margin-bottom: 0px;
	}
	ul.navList li {
		display: inline-block;
	}
	.profileTitle {
		font-size: 80px;
		text-align: center;
	}
	.profileInfo {
		margin-right: -200px;
		overflow: hidden;
	}
	.userLink {
		margin: 0px 16px 0px 16px;
		white-space: nowrap;
	}
	ul.navList li:last-child {
		padding: 0px 16px 0px 74px;
	}
	.userProfile {
		width: 100%;
	}
	.divider {
		display: none;
	}
	.profileTitle {
		font-size: 50px;
		padding: 42px 0px 0px 16px;
		position: relative;
	}
	.profileSubtitle {
		white-space: nowrap;
	}
	.line,
	.topLine {
		display: none;
	}
	.bottomLine {
		padding: 0;
	}
	.titleText {
		font-size: 35px;
	}
	.headerNav {
		flex-wrap: wrap;
	}
}
@media (max-width: 560px) {
	.container {
		max-width: 530px;
	}
	.navbar-brand {
		margin: 0px 0px 0px 3px;
	}
	.userInfo {
		margin: 0px 15px 0px 15px;
	}
	.menuBurger {
		margin: 10px 0px -15px 4px;
	}
	.profileTitle {
		font-size: 35px;
		padding: 32px 0px 0px 1px;
	}
	.profileInfo {
		margin: 0px -160px 0px 16px;
	}
	ul.navList li:last-child {
		margin-left: 15px;
		padding: 0;
	}
	.userNav {
		text-align: left;
	}
	.navList {
		padding-left: 0px;
	}
	.userLink {
		margin: 0px 0px 0px 8px;
		padding-left: 8px;
	}
	.titleText {
		font-size: 28px;
	}
	.trendsTitle {
		position: relative;
	}
	.catalogLink {
		position: absolute;
		top: 564px;
		left: 9px;
	}
	.footerInfo,
	.headerNav {
		flex-direction: column;
		padding: 24px 0;
		min-height: 160px;
	}
	.row.d-flex {
		display: block;
	}
	ul.footerItems li {
		margin: 0px 0px 8px -30px;
	}
	.headerMenu li {
		margin-bottom: 4px;
	}
	ul.headerMenu li:first-child {
		margin-bottom: 16px;
	}

	ul.footerItems li:last-child {
		margin: 0px 0px 16px -30px;
	}
	ul.footerItems li:first-child,
	ul.menuItems li:first-child {
		margin-bottom: 16px;
	}
	.titleLink,
	.menuTitle {
		font-size: 20px;
	}
}
.headerNav.open {
	padding: 82px 0px 24px 16px;
}
